$sidebarWidth: 15rem;
$topbarHeight:3rem;

.container {
    display: grid;
    grid-template-columns: $sidebarWidth 1fr;
    grid-template-rows: auto;
    max-width: $max-width;
    margin: 0 auto;
    @media screen and (min-width:$max-width){
        border-right: .1rem solid $cloudyGray;
    }
    .topbar, .main, .footer {
        grid-column: 1 / 3;
        @media screen and (min-width:$laptopLarge){
            grid-column: 2 / 3;
        }
    }
    .topbar {
        position: sticky;
        height: $topbarHeight;
        top: 0rem;
        right: 0;
        padding-top: .4rem;
        z-index: 100;
    }
    .sidebar {
        position: fixed;
        top: $topbarHeight;
        height: calc(100vh - $topbarHeight);
        z-index: 100;
        @media screen and (min-width:$laptopLarge){
            top: 0;
            height: 100vh;
            width: $sidebarWidth;
        }
    }
}