.sidebar {
    background-color: $slateGray;
    animation: sidebarIn .8s ease-in;
    overflow: auto;
    padding: 0 .7rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    color: $dolphinGray;
    width: 100%;
    max-width: 20rem;
    &-hidden {
        display: none; 
        @media screen and (min-width:$laptopLarge){
            display: block;
        }
    }
    @media screen and (min-width:$laptopLarge){
        animation: sidebarFixed 2s ease-in;
    }
    &__logo {
        @include position-center;
        border-bottom: .1rem solid $frogGray;
        height: $topbarHeight;
        margin-bottom: .8rem;
        img {
            color: $green;
            height: 1.5rem;
            width: 1.5rem;
            margin-right: .2rem;
        }
    }
    &__user {
        display: none;
        @media screen and (min-width:$laptopLarge){
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 1rem 0;
            background-color: $blueTr;
            padding: .6rem 0;
            border-radius: .2rem;  
        }

        &__thumbnail {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: .4rem;
        }
        &__name {
            color: $frogGray;
            font-weight: 500;
            letter-spacing: .1rem;
            margin-top: .3rem;
            // @include all-btn;
        }     
        &__role {
            font-size: .8rem;
            color: $dolphinGray;
            
        }   
    }
    &__links {
        &__list {
            &__item {
                margin-bottom: 1rem;
                padding: .5rem .3rem;
                border-radius: .2rem;
                a {
                    font-size: .9rem;
                    color: $frogGray;
                    i { margin-right: .4rem;}    
                }
                &:hover {
                    background-color: lighten($slateGray, 15);
                    a { color: white}
                }
                &-active {
                    background-color: $frogGray;
                    color: $slateGray;
                    pointer-events: none;
                    a { color: $slateGray;}
                    
                }
            }
            &__separator {
                border-color: $logoLight;
            }
            &__page {
                margin-top: 1.5rem;
                margin-bottom: .5rem;
                &:last-child {
                    margin-bottom: 2rem;
                }
                a {
                    font-size: .9rem;
                    color: $logoLight;
                    &:hover {
                        color: $logoDark;
                    } 
                }                
            }
        }

    }
}
@keyframes sidebarIn {
    from {height: 0;}
    to {height: 50%;}
}
@keyframes sidebarFixed {
    from {height: 100%;}
    to {height: 100%;}
}