<div class="board">
    <div class="board__header">
        <div class="board__header__title">Latest Notes</div>
        <div class="board__header__options">
            <button class="fa-solid fa-filter"></button>
            <button class="board__header__new fa-regular fa-note-sticky"></button>            
        </div>
    </div>
    <div class="board__content">
        {{> ./note}}
        {{> ./note}}
        {{> ./note}}
        {{> ./note}}
    </div>
</div>