<div class="calendar">
  <div class="calendar__header">
    <button class="fa-solid fa-caret-left"></button>
    <div class="calendar__header__current">
      <div class="calendar__header__current__month current-month"></div>
      <div class="calendar__header__current__year current-year"></div>
    </div>
    <button class="fa-solid fa-caret-right"></button>
  </div>
  <table class="calendar__table">
    <thead>
      <th>Mo</th>
      <th>Tu</th>
      <th>We</th>
      <th>Th</th>
      <th>Fr</th>
      <th>Sa</th>
      <th>Su</th>
    </thead>
    <tbody class="calendar__body">
     <!---insert row here-->
    </tbody>
  </table>
</div>