<div class="messaging">
    <div class="messaging__chat">
        <div class="messaging__chat__header">
            <div class="messaging__chat__header__title">
                Direct Chat
            </div>
            <div class="messaging__chat__header__options">   
                <button class="fa-solid fa-message"></button>
                <button class="fa-solid fa-bell"><div class="messaging__chat__header__notification">3</div></button>
                <button class="fa-solid fa-ellipsis-vertical"></button>
                <button class="fa-solid fa-gear"></button>
            </div>
        </div>
        <div class="messaging__chat__box">
            <!---first message -->
            <div class="messaging__chat__box__item messaging__chat__box__item">
                <div class="messaging__chat__box__item__meta messaging__chat__box__item__meta-receiver">
                    <span class="messaging__chat__box__item__meta__name">Sarah Forrester</span>
                    <span class="messaging__chat__box__item__meta__date"><span>10:23</span>
                </div>
                <div class="messaging__chat__box__item__content messaging__chat__box__item__content-receiver">
                    <div class="messaging__chat__box__item__content__thumbnail messaging__chat__box__item__content__thumbnail-receiver">
                        <img class="sarah">
                    </div>
                    <div class="messaging__chat__box__item__content__text messaging__chat__box__item__content__text-receiver">
                        Nunc augue augue, convallis et ullamcorper at, feugiat a leo
                    </div>
                    <div class="messaging__chat__box__item__content__text messaging__chat__box__item__content__text-receiver">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </div>
                </div>
            </div>
            <!---second message -->
            <div class="messaging__chat__box__item messaging__chat__box__item">
                <div class="messaging__chat__box__item__meta">
                    <span class="messaging__chat__box__item__meta__name">Alexandra Rossi</span>
                    <span class="messaging__chat__box__item__meta__date">10.23</span>
                </div>
                <div class="messaging__chat__box__item__content">
                    <div class="messaging__chat__box__item__content__thumbnail">
                        <img class="alexandra">
                    </div>
                    <div class="messaging__chat__box__item__content__text">
                        Sed blandit nisl sit amet ex placerat, ut faucibus enim pharetra. Nullam elementum ultrices turpis vel varius
                    </div>
                    <div class="messaging__chat__box__item__content__text">
                        Ut tempus sodales pretium
                    </div>
                </div>
            </div>
            <!---third message -->
            <div class="messaging__chat__box__item messaging__chat__box__item">
                <div class="messaging__chat__box__item__meta messaging__chat__box__item__meta-receiver">
                    <span class="messaging__chat__box__item__meta__name">Sarah Forrester</span>
                    <span class="messaging__chat__box__item__meta__date">10.24</span>
                </div>
                <div class="messaging__chat__box__item__content messaging__chat__box__item__content-receiver">
                    <div class="messaging__chat__box__item__content__thumbnail messaging__chat__box__item__content__thumbnail-receiver">
                        <img class="sarah">
                    </div>
                    <div class="messaging__chat__box__item__content__text messaging__chat__box__item__content__text-receiver">
                        Nunc mi lorem, vestibulum a hendrerit non, condimentum et lorem
                    </div>
                    <div class="messaging__chat__box__item__content__text messaging__chat__box__item__content__text-receiver">
                        Sed iaculis quam non erat hendrerit maximus
                    </div>
                </div>
            </div>
            <!---end of third message -->
        </div>
    </div>
    <div class="messaging__contacts">
        <div class="messaging__contacts__header">recent contacts</div>
        <div class="messaging__contacts__list">
            <div class="messaging__contacts__list__user">
                <img class="messaging__contacts__list__user__thumbnail john">
                <div class="messaging__contacts__list__user__info">
                    <div class="messaging__contacts__list__user__info__name">
                        John Doe
                    </div>
                    <div class="messaging__contacts__list__user__info__role">
                        web designer
                    </div>
                </div>
            </div>
            <div class="messaging__contacts__list__user">
                <img class="messaging__contacts__list__user__thumbnail sarah">
                <div class="messaging__contacts__list__user__info">
                    <div class="messaging__contacts__list__user__info__name">
                        Sarah Forrester
                    </div>
                    <div class="messaging__contacts__list__user__info__role">
                        HR
                    </div>
                </div>
            </div>
            <div class="messaging__contacts__list__user">
                <img class="messaging__contacts__list__user__thumbnail philip">
                <div class="messaging__contacts__list__user__info">
                    <div class="messaging__contacts__list__user__info__name">
                        Philip Brown
                    </div>
                    <div class="messaging__contacts__list__user__info__role">
                        social media manager
                    </div>
                </div>
            </div>
            <div class="messaging__contacts__list__user">
                <img class="messaging__contacts__list__user__thumbnail martha">
                <div class="messaging__contacts__list__user__info">
                    <div class="messaging__contacts__list__user__info__name">
                        Martha Williams
                    </div>
                    <div class="messaging__contacts__list__user__info__role">
                        software developer
                    </div>
                </div>
            </div>
            <div class="messaging__contacts__list__user">
                <img class="messaging__contacts__list__user__thumbnail serena">
                <div class="messaging__contacts__list__user__info">
                    <div class="messaging__contacts__list__user__info__name">
                        Serena Johnson
                    </div>
                    <div class="messaging__contacts__list__user__info__role">
                        sales engineer
                    </div>
                </div>
            </div>
            <div class="messaging__contacts__list__user">
                <img class="messaging__contacts__list__user__thumbnail karl">
                <div class="messaging__contacts__list__user__info">
                    <div class="messaging__contacts__list__user__info__name">
                        Karl Miller
                    </div>
                    <div class="messaging__contacts__list__user__info__role">
                        data engineer
                    </div>
                </div>
            </div>
            <div class="messaging__contacts__list__user">
                <img class="messaging__contacts__list__user__thumbnail peter">
                <div class="messaging__contacts__list__user__info">
                    <div class="messaging__contacts__list__user__info__name">
                        Peter Anderson
                    </div>
                    <div class="messaging__contacts__list__user__info__role">
                        product manager
                    </div>
                </div>
            </div>
            <div class="messaging__contacts__list__user">
                <img class="messaging__contacts__list__user__thumbnail min">
                <div class="messaging__contacts__list__user__info">
                    <div class="messaging__contacts__list__user__info__name">
                        Min Wang
                    </div>
                    <div class="messaging__contacts__list__user__info__role">
                        computer scientist
                    </div>
                </div>
            </div>
            <div class="messaging__contacts__list__user">
                <img class="messaging__contacts__list__user__thumbnail robert">
                <div class="messaging__contacts__list__user__info">
                    <div class="messaging__contacts__list__user__info__name">
                        Robert Marino
                    </div>
                    <div class="messaging__contacts__list__user__info__role">
                        accountant
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>