<div class="board__content__note">
    <div class="board__content__note__header">
        <span>
        <button class="fa fa-edit"></button>
        <button class="fa-solid fa-ellipsis-vertical"></button>
        </span>
        <button class="fa fa-trash"></button>
    </div>
    <div class="board__content__note__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et eum obcaecati veritatis vel nobis!
    </div>
</div>