  <h3 class="table-title">Recent Orders invoices</h3>
<div class="table-container">
  <table class="table">
    <!--header -->
    <tr>
      <th>Date</th>
      <th>Invoice</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Country</th>
      <th>Detail</th>
    </tr>
    <!--end of header -->
    <tr>
      <td class="current-date"></td>
      <td>INV-679866</td>
      <td>$120.000</td>
      <td><span class="tag tag-paid">paid</span></td>
      <td>Italy</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
    <tr>
      <td class="current-date"></td>
      <td>INV-679865</td>
      <td>$235.000</td>
      <td><span class="tag tag-paid">paid</span></td>
      <td>Germany</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
    <tr>
      <td class="current-date"></td>
      <td>INV-679864</td>
      <td>$527.800</td>
      <td><span class="tag tag-paid">paid</span></td>
      <td>Italy</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
    <tr>
      <td class="current-date"></td>
      <td>INV-679863</td>
      <td>$160.000</td>
      <td><span class="tag tag-refunded">refunded</span></td>
      <td>Spain</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
    <tr>
      <td class="current-date"></td>
      <td>INV-679862</td>
      <td>$749.000</td>
      <td><span class="tag tag-paid">paid</span></td>
      <td>Germany</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
    <tr>
      <td class="yesterday-date"></td>
      <td>INV-679861</td>
      <td>$128.000</td>
      <td><span class="tag tag-pending">pending</span></td>
      <td>Germany</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
    <tr>
      <td class="yesterday-date"></td>
      <td>INV-679860</td>
      <td>$920.600</td>
      <td><span class="tag tag-paid">paid</span></td>
      <td>Spain</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
    <tr>
      <td class="yesterday-date"></td>
      <td>INV-679859</td>
      <td>$310.000</td>
      <td><span class="tag tag-paid">paid</span></td>
      <td>France</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
    <tr>
      <td class="yesterday-date"></td>
      <td>INV-679858</td>
      <td>$172.000</td>
      <td><span class="tag tag-cancelled">cancelled</span></td>
      <td>France</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
    <tr>
      <td class="twodaysago-date"></td>
      <td>INV-679857</td>
      <td>$525.000</td>
      <td><span class="tag tag-paid">paid</span></td>
      <td>Germany</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
    <tr>
      <td class="twodaysago-date"></td>
      <td>INV-679856</td>
      <td>$420.600</td>
      <td><span class="tag tag-pending">pending</span></td>
      <td>UK</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
    <tr>
      <td class="twodaysago-date"></td>
      <td>INV-679855</td>
      <td>$346.900</td>
      <td><span class="tag tag-cancelled">cancelled</span></td>
      <td>Portugal</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
    <tr>
      <td class="twodaysago-date"></td>
      <td>INV-679854</td>
      <td>$120.000</td>
      <td><span class="tag tag-paid">paid</span></td>
      <td>Italy</td>
      <td><button class="fa-solid fa-circle-info"></button></td>
    </tr>
  </table>
</div>
<div class="pagination">
  <button class="muted">&laquo;</button>
  <button class="active">1</button>
  <button>2</button>
  <button>3</button>
  <button>4</button>
  <button>&raquo;</button>
</div>