<div class="target">
    <div class="target__title">{{title}}</div>
    <div class="target__percentage"></div>
    <div class="target__wrap">
        <div class="target__wrap__bar">
            <div class="target__wrap__bar__inside"></div>
        </div>
    </div>
    <div class="target__footer">
        <div class="target__footer__current">current: <span class="target__footer__current__value"></span></div>
        <div class="target__footer__goal">goal: <span class="target__footer__goal__value"></span></div>
    </div>
</div>