<div class="tasks">
  <div class="tasks__header">
    <div class="tasks__header__title">My Activity</div>
    <div class="tasks__header__date">
      <span class="tasks__header__date__day">today <span class="current-date-short"></span></span>
      <button class="fa-solid fa-angle-left"></button> 
      <button class="fa-solid fa-angle-right"></button>
      <button class="fa-regular fa-calendar"></button>
    </div> 
    <div class="tasks__header__new">
      <button class="fa-solid fa-file-lines"></button>      
    </div>      
  </div>
  <div class="tasks__content">
    <div class="tasks__content__meta">
      <div class="tasks__content__meta__title">task</div>
      <div class="tasks__content__meta__start-date">start date</div>
      <div class="tasks__content__meta__status">status</div>
      <div class="tasks__content__meta__assegnee">assegnee</div>
    </div>
    <div class="tasks__content__list">
      <div class="tasks__content__list__item">
        <div class="tasks__content__list__item__title">
          check campaign objectives
        </div>
        <div class="tasks__content__list__item__date">
            <div class="tasks__content__list__item__date__date current-date-short"></div>
            <div class="tasks__content__list__item__date__meta">start date</div>
        </div>
        <div class="tasks__content__list__item__status">
            <div class="tasks__content__list__item__status__tag tasks__content__list__item__status__tag-done">done</div>
            <div class="tasks__content__list__item__status__meta">status</div>
        </div>
        <div class="tasks__content__list__item__assegnee">
          <img class="tasks__content__list__item__assegnee__thumbnail philip">
          <div class="tasks__content__list__item__assegnee__info">
            <div class="tasks__content__list__item__assegnee__info__name">Philip Brown</div>
            <div class="tasks__content__list__item__assegnee__info__meta">assegnee</div>
          </div>
        </div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-delete"><button class="fa fa-trash"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-title"><button class="fa fa-edit"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-date"><button class="fa-regular fa-calendar-days"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-status"><button class="fa-regular fa-circle-check"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-assegnee"><button class="fa fa-user"></button></div>
      </div>
      <div class="tasks__content__list__item">
        <div class="tasks__content__list__item__title">
          design new landing page
        </div>
        <div class="tasks__content__list__item__date">
            <div class="tasks__content__list__item__date__date yesterday-date-short"></div>
            <div class="tasks__content__list__item__date__meta">start date</div>
        </div>
        <div class="tasks__content__list__item__status">
            <div class="tasks__content__list__item__status__tag tasks__content__list__item__status__tag-in-progress">in progress</div>
            <div class="tasks__content__list__item__status__meta">status</div>
        </div>
        <div class="tasks__content__list__item__assegnee">
          <img class="tasks__content__list__item__assegnee__thumbnail john">
          <div class="tasks__content__list__item__assegnee__info">
            <div class="tasks__content__list__item__assegnee__info__name">John Doe</div>
            <div class="tasks__content__list__item__assegnee__info__meta">assegnee</div>
          </div>
        </div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-delete"><button class="fa fa-trash"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-title"><button class="fa fa-edit"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-date"><button class="fa-regular fa-calendar-days"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-status"> <button class="fa-regular fa-circle-check"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-assegnee"><button class="fa fa-user"></button></div>
      </div>
      <div class="tasks__content__list__item">
        <div class="tasks__content__list__item__title">
          analyze this month sales trends
        </div>
        <div class="tasks__content__list__item__date">
            <div class="tasks__content__list__item__date__date yesterday-date-short"></div>
            <div class="tasks__content__list__item__date__meta">start date</div>
        </div>
        <div class="tasks__content__list__item__status">
            <div class="tasks__content__list__item__status__tag tasks__content__list__item__status__tag-in-progress">in progress</div>
            <div class="tasks__content__list__item__status__meta">status</div>
        </div>
        <div class="tasks__content__list__item__assegnee">
          <img class="tasks__content__list__item__assegnee__thumbnail serena">
          <div class="tasks__content__list__item__assegnee__info">
            <div class="tasks__content__list__item__assegnee__info__name">Serena Johnson</div>
            <div class="tasks__content__list__item__assegnee__info__meta">assegnee</div>
          </div>
        </div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-delete"><button class="fa fa-trash"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-title"><button class="fa fa-edit"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-date"><button class="fa-regular fa-calendar-days"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-status"> <button class="fa-regular fa-circle-check"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-assegnee"><button class="fa fa-user"></button></div>
      </div>
      <div class="tasks__content__list__item">
        <div class="tasks__content__list__item__title">
          organize press conference 
        </div>
        <div class="tasks__content__list__item__date">
            <div class="tasks__content__list__item__date__date inthreedays-date-short"></div>
            <div class="tasks__content__list__item__date__meta">start date</div>
        </div>
        <div class="tasks__content__list__item__status">
            <div class="tasks__content__list__item__status__tag tasks__content__list__item__status__tag-delayed">delayed</div>
            <div class="tasks__content__list__item__status__meta">status</div>
        </div>
        <div class="tasks__content__list__item__assegnee">
          <img class="tasks__content__list__item__assegnee__thumbnail kate">
          <div class="tasks__content__list__item__assegnee__info">
            <div class="tasks__content__list__item__assegnee__info__name">Kate Stevenson</div>
            <div class="tasks__content__list__item__assegnee__info__meta">assegnee</div>
          </div>
        </div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-delete"><button class="fa fa-trash"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-title"><button class="fa fa-edit"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-date"><button class="fa-regular fa-calendar-days"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-status"> <button class="fa-regular fa-circle-check"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-assegnee"><button class="fa fa-user"></button></div>
      </div>
      <div class="tasks__content__list__item">
        <div class="tasks__content__list__item__title">
          start social media campaign
        </div>
        <div class="tasks__content__list__item__date">
            <div class="tasks__content__list__item__date__date inthreedays-date-short"></div>
            <div class="tasks__content__list__item__date__meta">start date</div>
        </div>
        <div class="tasks__content__list__item__status">
            <div class="tasks__content__list__item__status__tag tasks__content__list__item__status__tag-not-assigned">not assigned</div>
            <div class="tasks__content__list__item__status__meta">status</div>
        </div>
        <div class="tasks__content__list__item__assegnee">
          <img class="tasks__content__list__item__assegnee__thumbnail pic-placeholder">
          <div class="tasks__content__list__item__assegnee__info">
            <div class="tasks__content__list__item__assegnee__info__name">not assigned</div>
            <div class="tasks__content__list__item__assegnee__info__meta">assegnee</div>
          </div>
        </div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-delete"><button class="fa fa-trash"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-title"><button class="fa fa-edit"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-date"><button class="fa-regular fa-calendar-days"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-status"> <button class="fa-regular fa-circle-check"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-assegnee"><button class="fa fa-user"></button></div>
      </div>
      <div class="tasks__content__list__item">
        <div class="tasks__content__list__item__title">
          collect social media data 
        </div>
        <div class="tasks__content__list__item__date">
            <div class="tasks__content__list__item__date__date tomorrow-date-short"></div>
            <div class="tasks__content__list__item__date__meta">start date</div>
        </div>
        <div class="tasks__content__list__item__status">
            <div class="tasks__content__list__item__status__tag tasks__content__list__item__status__tag-not-assigned">not assigned</div>
            <div class="tasks__content__list__item__status__meta">status</div>
        </div>
        <div class="tasks__content__list__item__assegnee">
          <img class="tasks__content__list__item__assegnee__thumbnail pic-placeholder">
          <div class="tasks__content__list__item__assegnee__info">
            <div class="tasks__content__list__item__assegnee__info__name">not assigned</div>
            <div class="tasks__content__list__item__assegnee__info__meta">assegnee</div>
          </div>
        </div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-delete"><button class="fa fa-trash"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-title"><button class="fa fa-edit"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-date"><button class="fa-regular fa-calendar-days"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-status"> <button class="fa-regular fa-circle-check"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-assegnee"><button class="fa fa-user"></button></div>
      </div>
      <div class="tasks__content__list__item">
        <div class="tasks__content__list__item__title">
          taking inventory 
        </div>
        <div class="tasks__content__list__item__date">
            <div class="tasks__content__list__item__date__date yesterday-date-short"></div>
            <div class="tasks__content__list__item__date__meta">start date</div>
        </div>
        <div class="tasks__content__list__item__status">
            <div class="tasks__content__list__item__status__tag tasks__content__list__item__status__tag-in-progress">in progress</div>
            <div class="tasks__content__list__item__status__meta">status</div>
        </div>
        <div class="tasks__content__list__item__assegnee">
          <img class="tasks__content__list__item__assegnee__thumbnail robert">
          <div class="tasks__content__list__item__assegnee__info">
            <div class="tasks__content__list__item__assegnee__info__name">Robert Marino</div>
            <div class="tasks__content__list__item__assegnee__info__meta">assegnee</div>
          </div>
        </div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-delete"><button class="fa fa-trash"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-title"><button class="fa fa-edit"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-date"><button class="fa-regular fa-calendar-days"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-status"> <button class="fa-regular fa-circle-check"></button></div>
        <div class="tasks__content__list__item__update tasks__content__list__item__update-assegnee"><button class="fa fa-user"></button></div>
      </div>
    </div>
  </div>  
</div>