.card {
    @include border-box;
    position: relative;
    border-color: $slateGray;
    width: 100%;
    overflow: hidden;
    &__header {
        color: $slateGray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .6rem;
        &__title {
            font-size: .9rem;
            font-weight: 600;
            border-radius: .2rem;
            padding: 0 .6rem;
            letter-spacing: .1rem;
            i {
                font-size: 1.2rem;
                margin-right: .5rem;
                
            }
        }
        button {
            @include icon-btn;
            color: darken($blue, 15);
            text-shadow: 0 0 0 $frogGray;
            &:hover {
                color: $blue;
                text-shadow: 0 0 0 $frogGray;
            }
        }
        @media screen and (min-width:$laptop){
            height: 0;
            margin: 0;
            padding: 0;
            &__title {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                height: 2rem;
                color: lighten($slateGray, 10);;
                font-size: .7rem;
                position: absolute;
                top: .5rem;
                left: .4rem;
                i { font-size: .9rem;}
            }     
            button {
                position: absolute;
                top: .5rem;
                right: .4rem;
            }       
        }
    }
    &__summary {
        border-bottom: .1rem solid $frogGray;
        border-top: .1rem solid $frogGray;
        background-color: $headerGray;
        color: $slateGray;
        padding: .5rem;
        &__value {
            font-size: 1rem;
            font-weight: 600;
            letter-spacing: .1rem;
        }
        &__description {
            font-size: .8rem;
            margin-top: .3rem;
        }
    }
    &__trends {
        &__month {
            font-size: .9rem;
            padding: .8rem .2rem 0 .2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &__selected {
                margin-left: .3rem;
            }
            button {
                @include base-btn;
                @media screen and (min-width:$laptop){
                  font-size: 1.5rem;  
                }
                
            }
        }
    }
    &__footer {
        font-size: .8rem;
        border-top:.1rem solid $frogGray;
        padding: 0 0 .5rem 0;
        .fa-plus {color: $green;}
        .fa-minus {color: $red;}
        .fa-caret-up {
            color: $green;
            font-size: 1.4rem;
            transform: translateY(.3rem);
        }
        .fa-caret-down {
            color: $red;
            font-size: 1.4rem;
            transform: translateY(.2rem);
        }
        span {
            margin: 0 .5rem;
        }
    }
}