.messaging {
    padding: .5rem;
    
    @media screen and (min-width:$laptop){ height: 30.5rem;} 
    @media screen and (min-width:$laptopXLarge){
        // height: 33.5rem;
        height: 33.5rem;
    }    
    &__chat {
        &__header {
            padding: .4rem;
            color: $slateGray;
            font-size: .9rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           background-color: $headerGray; 
           border-top-left-radius: .2rem;
           border-top-right-radius: .2rem;
           @media screen and (min-width:$tablet){
            flex-direction: row;
            padding: 1rem .5rem .4rem .5rem;
            }
            @media screen and (min-width:$laptopXLarge){
                // background-color: pink;
                flex-direction: column;
                padding: .4rem;
            }
           &__title {
            margin-bottom: 1.5rem;
            @media screen and (min-width:$tablet){
                margin-bottom: 0;
            }
            @media screen and (min-width:$laptopXLarge){
                margin-bottom: 1.5rem;
            }
        }
        &__options {
            div {
                color: $slateGray;
                position: absolute;
                width: 1.1rem;
                height: 1.1rem;
                background-color: $yellow;
                font-size: .6rem;
                font-weight: 600;
                border-radius: 50%;
                padding-top: .3rem;
                top: -.8rem;
                left: -.1rem;
                
            }
            button {
                position: relative;
                @include icon-btn;
                margin: 0 .5rem;
                &:hover {
                    &>div {
                        background-color: $yellowTr;
                        text-shadow: 0 0 0 $dark;
                    }
                }
            }
        }
        }
        &__box {
            height: 17rem;
            overflow-y:scroll;
            padding: .6rem;
            border: .1rem solid $headerGray;
            border-bottom-left-radius: .2rem;
            border-bottom-right-radius: .2rem;
            @media screen and (min-width:$laptopXLarge){
                height: 18rem;
            }

            &__item {
                margin-bottom: 1rem;
                &__meta {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row-reverse;
                    font-size: .7rem;
                    padding: .2rem 0;
                    &-receiver {
                        flex-direction: row;
                    }
                    &__name {
                      font-weight: 600;  
                    }
                }
                &__content {
                    display: grid;
                    grid-template-columns: 1.8rem 1fr 1.8rem;
                    grid-template-rows: auto;
                    row-gap: .5rem;
                    column-gap: .4rem;
                    text-align: right;
                    &-receiver {
                        text-align: left;
                    }
                    &__thumbnail {
                        grid-column: 3 / 4;
                        img {
                            width: 1.8rem;
                            height: 1.8rem;
                            border-radius: 50%;
                        }
                        &-receiver {
                            grid-column: 1 / 2;
                        }
                    }
                    &__text {
                        grid-column: 1 / 3;
                        grid-row: 1 / 3;
                        font-size: .8rem;
                        width: 100%;
                        background-color: $blueTr;
                        padding: .4rem;
                        border-radius: .4rem;
                        &:nth-child(2) {
                            grid-row: auto;
                        }
                        &-receiver {
                            grid-column: 2 / 4;
                            background-color: transparent;
                            border: .1rem solid $frogGray;
                        }
                    }
                }
            }
            
        }
    }
    &__contacts {
        padding: 0 .1rem;
        font-size: .8rem;
        margin-top: 1rem;
        &__header {
            background-color: $headerGray;
            padding: .4rem 0;
            border-top-left-radius: .2rem;
            border-top-right-radius: .2rem;
        }
        &__list {
            padding: 1.3rem 0;
            overflow: auto;
            white-space: nowrap;
            border: .1rem solid $headerGray;
            border-bottom-left-radius: .2rem;
            border-bottom-right-radius: .2rem;
            &__user {
                display: inline-block;
                flex-wrap: nowrap;
                margin-right: .6rem;
                &:first-child {
                    margin-left: .6rem;
                }
                &__thumbnail {
                    width: 2.8rem;
                    height: 2.8rem;
                    border-radius: 50%;
                    border: .1rem solid $headerGray;
                }
                &__info {
                    &__name {
                        font-weight: 600;
                    }
                    &__role {
                        font-size: .6rem;
                    }
                }
            }
            @media screen and (min-width:$laptopXLarge){
                padding: 1rem 0;
            }
        }
    }
}