.table-container {
    overflow-x:auto;
    // background-color: plum;
}
.table {
    // border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    // border: 1px solid #ddd;
    th, td {
        text-align: center;
        padding: .4rem;
        border-right: .1rem solid $light;
    }
    tr {
        &:nth-child(even){
            background-color: darken($light, 3);
        }
        &:nth-child(odd){
            background-color: darken($light, 7);
        }
    }
    .tag {
        padding: .2rem .5rem;
        border-radius: .4rem;
        font-size: .8rem;
        &-paid {background-color: $greenTr;}
        &-refunded {background-color: $yellowTr;}
        &-pending {background-color: $blueTr;}        
        &-cancelled {background-color: $redTr;}        
    }  
    button {
        @include icon-btn;
    }
}
.pagination {
    margin-top: 1rem;
    button {
        margin: 0 .2rem;
        font-size: .9rem;
        box-shadow: 0 0 0 $dolphinGray;
        border-color:transparent;
        border-radius: .4rem;
        background-color: $frogGray;

        &:hover {
            color: darken($slateGray, 20);
            background-color: darken($frogGray, 10); 
            transition: all .3s; 
        }
    }
    .active {
        background-color: lighten($dolphinGray, 5);
        pointer-events: none;
    }
    .muted {
        // color: lighten($slateGray, 30);
        pointer-events: none;
    }
}