<div class="footer">
    <div class="footer__menu">
        <ul class="footer__menu__list">
            <li class="footer__menu__list__item"><a href="index.html" class="footer__menu__list__item__link menu-link">Home</a></li>
            <li class="footer__menu__list__item"><a href="about.html" class="footer__menu__list__item__link menu-link">About</a></li>
            <li class="footer__menu__list__item"><a href="credits.html" class="footer__menu__list__item__link menu-link">Credits</a></li>
            <li class="footer__menu__list__item"><a href="https://github.com/nicolettamerlo" class="footer__menu__list__item__link" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            <li class="footer__menu__list__item"><a href="https://codepen.io/nicolettamerlo" class="footer__menu__list__item__link" target="_blank"><i class="fa-brands fa-codepen"></i></a></li>    
            <li class="footer__menu__list__item"><a href="https://codesandbox.io/u/nicolettamerlo " class="footer__menu__list__item__link" target="_blank"><i class="fa-regular fa-square"></i></a></li>         
        </ul>
    </div>
    <div class="footer__copyright">
        @<span class="current-year"></span> copyright made by <a class="green-link" href="https://nicolettamerlo.com/">Nicoletta Merlo</a>
    </div>
</div>