
<div class="main">
    <div class="main__section main__section-analytics">
        <div class="main__section-analytics__sales">
            <div class="chart">
                <div class="chart__header">
                    <div class="chart__header__options">
                        <button class="fa-solid fa-expand"></button>
                        <button class="fa-solid fa-filter"></button>
                        <button class="fa-solid fa-bars"></button>
                    </div>
                    <h3 class="chart__header__title chart__header__title-mainChart">
                        <span>Sales and Expenses</span><span> - </span><span>Last 12 Months</span>
                    </h3>
                </div>
                <div class="chart__legend">
                    <ul class="chart__legend__list" id="mainChart-legend">
                    </ul>
                </div>
                <div class="chart__container chart__container-mainChart"><canvas id="mainChart"></canvas></div>
            </div>     
        </div>
        <div class="main__section-analytics__cards">
            {{> ./components/card-expenses }}
            {{> ./components/card-sales}}
        </div>
    </div>
    <!---targets section-->
    <div class="main__section main__section-targets">
        {{> ./components/target title="sales"}}
        {{> ./components/target title="orders"}}
        {{> ./components/target title="expenses"}}
        {{> ./components/target title="customers"}}
        {{> ./components/target title="profit"}}
        {{> ./components/target title="loss"}} 
    </div>
    <!-- Accounting -->
    <div class="main__section main__section-accounting">
        <div class="main__section-accounting__table">
            {{> ./components/table}}
        </div>
        <div class="main__section-accounting__invoices">
            <div class="chart__header chart__header-invoices">
                <h3 class="chart__header__title">Invoices by Status: <span class="current-month"></span></h3>
                <button class="fa-solid fa-caret-down"></button>
            </div>
            <div class="chart">
                <div class="chart__legend">
                    <ul class="chart__legend__list" id="invoices-legend">
                    </ul>
                </div>
                <div class="chart__container chart__container-invoices"><canvas id="invoices"></canvas></div>
            </div>
            <div class="main__section-accounting__invoices__footer">
                last update <span class="yesterday-date">12/06/23</span><span></span> 10:25 am
            </div>
        </div>
        <div class="main__section-accounting__calendar">
              {{> ./components/calendar}}
        </div>
    </div>
    <!-- Activities -->
    <div class="main__section main__section-activities">
        <div class="main__section-activities__tasks">
             {{> ./components/tasks}}
             <div class="main__section-activities__view-all"><button>view all tasks</button></div>
        </div>
        <div class="main__section-activities__messaging">
            {{> ./components/messaging}}
             <div class="main__section-activities__view-all"><button>view all members</button></div>
        </div>
        <div class="main__section-activities__board">
            {{> ./components/board}}
            <div class="main__section-activities__view-all"><button>view all notes</button></div>
        </div>
    </div>
</div>
