<div class="sidebar sidebar-hidden">
    <div class="sidebar__logo">
        {{> ./components/logo}}
    </div>
    <div class="sidebar__user">
        <img class="sidebar__user__thumbnail alexandra">
        <div class="sidebar__user__name">Alexandra Rossi</div>
        <div class="sidebar__user__role">manager director</div>
    </div> 
    <div class="sidebar__links">
        <ul class="sidebar__links__list">
            <li class="sidebar__links__list__item sidebar__links__list__item-active"><a><i class="fa-solid fa-gauge"></i>dashboard</a></li>
            <li class="sidebar__links__list__item"><a><i class="fa-solid fa-chart-line"></i>analytics</a></li>
            <li class="sidebar__links__list__item"><a><i class="fa-solid fa-cart-shopping"></i>sales</a></li>
            <li class="sidebar__links__list__item"><a><i class="fa-solid fa-credit-card"></i>expenses</a></li>
            <li class="sidebar__links__list__item"><a><i class="fa-solid fa-calculator"></i>accounting</a></li>
            <li class="sidebar__links__list__item"><a><i class="fa-solid fa-chart-pie"></i>charts</a></li>
            <li class="sidebar__links__list__item"><a><i class="fa-solid fa-table"></i>tables</a></li>
            <li class="sidebar__links__list__item"><a><i class="fa-solid fa-users"></i>staff</a></li>
            <li class="sidebar__links__list__item"><a><i class="fa-solid fa-gear"></i>settings</a></li>
            <hr class="sidebar__links__list__separator">
            <li class="sidebar__links__list__page"><a href="about.html">About this project</a></li>
            <li class="sidebar__links__list__page"><a href="credits.html">Credits</a></li>
        </ul>
    </div>
</div>