<div class="topbar">
    <div class="topbar__left">
        <button class="fa-solid fa-bars" id="sidebarToggle"></button>
        <a href="index.html" class="topbar__left__home"><i class="fa-solid fa-house"></i></a>
        <a href="about.html" class="topbar__left__page">About</a>
        <a href="credits.html" class="topbar__left__page">Credits</a>
    </div>
    <div class="topbar__search">
        <form class="topbar__search__form" action="#">
            <input type="text" class="topbar__search__form__input" placeholder="Search..." id="search">
            <button type="button" class="fa-solid fa-magnifying-glass"></button>
        </form>
    </div>
    <div class="topbar__right">
        <div class="topbar__right__notification">
            <div class="">3</div>
        <button class="fa fa-bell"></button> 
        </div>
        <div class="topbar__right__mail">
            <div class="">2</div>
        <button class="fa-solid fa-envelope"></button>
        </div>
        <div class="topbar__right__user">
            <button><img class="alexandra"></button>
            <div class="topbar__right__user__name">Hi, <a>Alexandra</a></div> 
        </div>                        
    </div>
</div>