<!DOCTYPE html>
<html>
    {{> ./partials/head title="dashboard"}}
    <body>
        <div class="container-page">
            {{> ./partials/topbar}}
                <div class="header">
                    <h1 class="header__title">About This Project</h1>
                    <h3 class="header__subtitle header__subtitle-blue">
                        Web Analytics Dashboard 
                        <span class="header__subtitle header__subtitle-blue__dash">-</span> 
                        <span>Homepage Template</span>
                    </h3>
                </div>
            <div class="content content-about">
                <p>Here are the main technologies and tools I used in this project:</p>
                <div class="content__box">
                    <img alt="webpack icon" class="content__box__logo webpack">
                    <div class="content__box__info">
                        webpack 5.75
                    </div>
                </div>
                <div class="content__box">
                    <img alt="chartjs icon" class="content__box__logo chartjs">
                    <div class="content__box__info">chart.js
                    </div>
                </div>
                <div class="content__box">
                    <img alt="javascript icon" class="content__box__logo javascript">
                    <div class="content__box__info">JavaScript(ES6+)
                    </div>
                </div>
                <div class="content__box">
                    <ul class="content__box__list">
                        <li class="content__box__list__item">Other tools: html, css, sass, handlebars, font awsome, google fonts</li>
                        <li class="content__box__list__item">Photos from Unsplash. See <a href="/credits.html" class="page-link">credits</a>  for details</li>
                        <li class="content__box__list__item">Project created in January, 2023</li>
                        <li class="content__box__list__item"><i class="fa-brands fa-codepen"></i> Github Repo: <a href="https://github.com/nicolettamerlo/analytics-dashboard" class="page-link">analytics dashboard</a></li>
                    </ul>
                </div>
            </div>
            {{> ./partials/footer}}
        </div>
    </body>
</html>
