<!DOCTYPE html>
<html>
    {{> ./partials/head title="dashboard"}}
    <body>
        <div class="container" id="dashboard">
            {{> ./partials/topbar}}
            {{> ./partials/sidebar}}
            {{> ./partials/main}}
            {{> ./partials/footer}}
        </div>
    </body>
</html>
